* {
    box-sizing: border-box;
}
body {
    font-family: Verdana, sans-serif;
    font-size: 4vh;
    text-transform: uppercase;
    background-color: aliceblue;
    background-size: cover;
   
}


@media (min-width: 1170px) {

    /* body {
        background-image: url("../img/man-1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    } */

    body {
        background-image: url("../img/man-1.jpg");
        background-size: auto 100%;
        background-repeat: no-repeat;
    }



   h3, h4 {
        color: white;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

}

@media (max-width: 1169px) and (min-width: 992px) {

    /* body {
        background-image: url("../img/man-2.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    } */


    body {
        background-image: url("../img/man-2.jpg");
        background-size:  auto 70%;
        background-repeat: no-repeat;
    }

    h3, h4 {
        color: white;
        display: flex;
        justify-content: flex-end;
        align-content: center;
    }

}

@media (max-width: 991px) {

    /* body {
        background-image: url("../img/man-1.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    } */


    body {
        background-image: url("../img/man-1.jpg");
        background-size: auto 50%;
        background-repeat: no-repeat;
    }

    h3, h4 {
        color: black;
        display: flex;
        justify-content: center;
        align-content: flex-end;
    }

}