#nr10 {
    width: 500px;
    height: 500px;
    position: relative;
    background-color: aliceblue;
    background-image: url(img/10.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation-name: nr0;
    animation-duration: 10s;
    animation-delay: 1s;
}

@keyframes nr0 {
0% {background-image: url(img/10.png)}
10% {background-image: url(img/9.png)}
20% {background-image: url(img/8.png)}
30% {background-image: url(img/7.png)}
40% {background-image: url(img/6.png)}
50% {background-image: url(img/5.png)}
60% {background-image: url(img/4.png)}
70% {background-image: url(img/3.png)}
80% {background-image: url(img/2.png)}
90% {background-image: url(img/1.png)}
100% {background-image: url(img/love.png)}
}