.box {
    width: 300px;
    height: 150px;
    border: 2px solid red;
    margin: 60px;
}

#visible {
    overflow: visible;
    color: green;
}

#hidden {
    color: deeppink;
    overflow: hidden;

}

#scroll {
color:purple;
overflow: scroll;
}

#auto {
    color: coral;
    overflow: auto;

}